<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TinyMCE POC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)

        <form method="post" ng-controller="TinyMceController">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel">
                
            
            </textarea>
            
            <button ng-click="getContent()">Get content</button>
            <button ng-click="setContent()">Set content</button>
        </form>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    <script src="~/bower_components/tinymce-dist/tinymce.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/arxInjectableContent.js"></script>
</body>
</html>
